@model List<HospitalModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="mt-5">Hospitales</h1>
    <div class="d-flex justify-content: flex-start">
        <div class="col">
            <label for="" class="form-label">Filtrar por :</label>
            <input class="form-control" type="text" placeholder="Buscar"></input>

        </div>
        <div class="col ms-5">
            <label for="" class="form-label">Departamento</label>
            <select class="form-select">
            </select>
        </div>
        
    </div>
    <div class="row row-cols-auto " style="justify-content:center;">
        
        @foreach (HospitalModel h in Model)
        {
            <div class="col mt-5">
                <div class="card" style="width: 20rem;">
                    <img src="data:image/jpg; base64, @h.Imagen.Imagen" class="card-img-top" style="height:15rem; object-fit: contain;">
                    <div class="card-body">
                        <h5 class="card-title">@h.NOMBRE_HOSPITAL</h5>
                        <p class="card-text">Direccion : @h.DIRECCION_HOSPITAL</p>
                    </div>
                    <div class="card-footer">
                        <a href="" class="btn btn-outline-success">Editar</a>
                        <a href="" class="btn btn-outline-success">mas informacion</a>
                    </div>
                </div>
            </div>
        }

    </div>
   

</div>
