
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="mt-5">Publicaciones</h1>
    <div class="d-flex justify-content: flex-start">
        <input class="form-control mt-4" type="text" placeholder="Buscar"></input>
    </div>
    <div class="row row-cols-auto " style="justify-content:center;">
        <div class="col mt-5">
            <div class="card" style="width: 35rem;">
                <img src="~/img/Imagen.jpg" class="card-img-top" style="height:50rem; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Nombre Publicacion</h5>
                    <p class="card-text">Descripcion</p>
                    
                </div>
                <div class="card-footer">
                    <a href="" class="btn btn-outline-danger">Editar</a>
                    <a href="" class="btn btn-outline-danger">mas informacion</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-auto " style="justify-content:center;">
        <div class="col mt-5">
            <div class="card" style="width: 35rem;">
                <img src="~/img/Imagen.jpg" class="card-img-top" style="height:50rem; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Nombre Publicacion</h5>
                    <p class="card-text">Descripcion</p>

                </div>
                <div class="card-footer">
                    <a href="" class="btn btn-outline-danger">Editar</a>
                    <a href="" class="btn btn-outline-danger">mas informacion</a>
                </div>
            </div>
        </div>
    </div>

</div>
